{{define "index"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello, World!</title>
    <script src="static/js/app.js" type="module"></script>
    <link rel="stylesheet" href="/static/css/tailwind.css" />
</head>


<body class="bg-zinc-900 text-white">
    <nav
        class="fixed top-0 w-full h-16 flex flex-row justify-between items-center border-zinc-900 border-b-zinc-700 border-solid border-[1px]">
        <span class="p-2 font-semibold text-lg">
            Battle
        </span>
    </nav>
    <div class="max-w-[32rem] mx-auto mt-16 flex justify-center items-center">
        <div class="flex flex-col justify-center w-full aspect-square" id="board">
            {{ range $row := .Colors }}
            <div class="flex flex-row flex-grow">
                {{ range $color := $row }}
                <div style="background-color: {{$color}};" class="flex-grow"> </div>
                {{ end }}
            </div>
            {{ end }}
        </div>
    </div>
</body>


</html>
{{end}}
